.text {
    font-size: 45px;
    font-weight: 600;
    color: #b6acfc;
}

.versionText{
    font-size: 15px;
    font-weight: 400;
    color: #b6acfc;
}

.tabText{
    font-size: 18px;
    font-weight: 550;
    color: black;
}